[ghq]
root = ~/Projects
[user]
	name = Martin Jainta
	email = {{ git_email }}
[push]
	default = simple
[gui]
	spellingdictionary = none
	wmstate = normal
	geometry = 1855x1022+65+24 628 294
[alias]
	find = log --pretty=\"format:%Cgreen%H %Cblue%s\" --name-status --grep
[tig]
	line-graphics = no
	main-view = line-number:no,interval=5 id:no date:default author:full commit-title:yes,refs,overflow=no
